h1 h2 h3 h4 h5 h6 {
    font-family: 'Roboto', sans-serif;
    text-decoration-color: black;
}

p {
    font-family: 'Roboto', sans-serif;
    text-decoration-color: white;
}

.vertical ul li a {
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left: 4rem;
    color: black;
    display: inline;
}


ul.socialmedia {
    list-style-type: none;

}

ul.socialmedia-contact {
    margin-top: 10em;

}

ul.list-group-horizontal-l {
    margin-top: 10em;

}

.socialmedia a:hover {
    color: #B14E17;
    transition: .4s;
    text-decoration: none;

}

ul a {
    list-style-type: none;
    color: black;



}

.menu {
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left: 4rem;
}


#landingbanner2 {
    background-image: url(/images/bg-graphic2.jpg);
    width: 100%;
    height: 710px;
    background-repeat: no-repeat;
    background-position: centre center;
    background-size: cover;
}

#landingbanner {
    background-image: url(/images/background.jpg);
    width: 100%;
    height: 710px;
    background-repeat: no-repeat;
    background-position: centre center;
    background-size: cover;
}

#aboutme {
    background-color: white;

}



.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: none;
}

.nav-tabs li {
    padding-top: 60px;
    text-decoration: none;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    list-style-type: none;
    text-align: right;
}

.nav-tabs li a {
    display: block;
    padding: 0.6rem 1rem;
    color: black;

}

.nav-tabs li a:hover {
    color: #B14E17;
    transition: .4s;
    text-decoration: none;
}

.index-tagline {
    margin-top: 250px;
}

.colour-style {
    color: #B14E17;

}

.colour-style2 a:hover {
    color: #B14E17;

}

.colour-style2 a {
    color: #B14E17;

}

#hello {
    background-color: #333D33;
    color: white;
}

.content-spacing {
    padding: 75px 0;
}

#contactform {
    background-color: #333D33;
    width: 100%;
    color: white;
}

#contactformdark {
    background-color: #333D33;
    width: 100%;

}

#contactform2 {
    background-color: white;
    width: 100%;

}

#footermenu {
    list-style-type: none;
    display: inline;

}

.copyright-notice {
    background-color: #333D33;
    text-align: center;
    color: white;
}

.copyright-notice2 {
    background-color: none;
    text-align: center;
    color: black;
}

.socialmedia {
    color: white !important;
}

#tagline2 {
    background-color: #333D33;
    color: white;
}

.footer-spacing {
    padding: 0;
}


@media only screen and (max-width: 600px) {
    .desktop-show {
        display: none !important;
    }

    .index-tagline {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 600px) {
    .mobile-show {
        display: none !important;

    }


}